<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>my first angular demo</title>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">

    <!--[if lt IE 9]> <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.js"></script> <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script> <![endif]-->
  </head>
  <body ng-app="myModule">
    <hr>
    <h4>Basic controller</h4>
    <div class="container-fluid">
      <div class="" ng-controller="myController">
        {{message}}
        <p>
          firstName :
          {{employee.firstName}}
        </p>
        <p>
          lasttName :
          {{employee.secondName}}
        </p>
      </div>

      <!--ng-src example -->

      <hr>
      <h4>
        img src vs ng-src example</h4>
      <div class="" ng-controller="ImgController">
        <p>
          Country :
          {{country.name}}
        </p>
        <p>
          Capital :
          {{country.capital}}
        </p>
        <img alt="{{country.name + ' Flag'}}" ng-src="{{country.image}}" style="height:100px;width:200px"/>
      </div>
      <div class="" ng-controller="myController">
        <hr>
        <h4>
          2 way data binding via : ng-model</h4>
        <input ng-model="message" type="text"/>
        {{message}}
      </div>
      <hr>
      <div class="" ng-controller="myController">
        <h4>complex example of 2 way data binding</h4>
        <table class="table1">
          <tr>
            <td>
              First Name :
            </td>
            <td>
               <input type="text" name="name" ng-model="employee.firstName">
            </td>
          </tr>
          <tr>
            <td>
              Second Name :
            </td>
            <td>
             <input type="text" name="name" ng-model="employee.secondName">
            </td>
          </tr>
        </table>
        <table class="table">
          <tr>
            <td>
              First Name :
            </td>
            <td>
              {{employee.firstName}}
            </td>
          </tr>
          <tr>
            <td>
              Second Name :
            </td>
            <td>
              {{employee.secondName}}
            </td>
          </tr>
        </table>

      </div>

    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script charset="utf-8" src="js/angular.min.js"></script>
    <script charset="utf-8" src="js/script.js"></script>
  </body>
</html>
